<div class="topbar">
  <div class="container">
    <div class="vertical-center">
      <%= link_to 'shiplist', root_path %>
    </div>
  </div>
</div>
  <div class="container">
    <div>
      <p>Posted: <%= time_ago_in_words(@listing.created_at) %></p>
      <h1 class="listing-header"><%= @listing.title %></h1>
      <p>
          <%= @listing.description %>
      </p>
    </div>
    <footer>
      <p>post id: <%= @listing.id %></p>
      <p>Author: <%= @listing.user.email %></p>
      <p>Contact: <%= @listing.contact %></p>
      <p><%= time_ago_in_words(@listing.created_at) %></p>
      <% if current_user.email == @listing.user.email %>
        <%= button_to 'Delete', @listing, method: :delete, data: {confirm: "Are you sure?"} %>
      <% end %>
    </footer>
</div>

